<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1094393098878-1g93a76v4kclc0a6pfv4hieqkdbndobj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094393098878-1g93a76v4kclc0a6pfv4hieqkdbndobj</string>
	<key>API_KEY</key>
	<string>AIzaSyDI7FRbsBE8LxOzwaJwRau0PXXJ4oaZq08</string>
	<key>GCM_SENDER_ID</key>
	<string>1094393098878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shuanglu.SwiftUIStaterKitApp</string>
	<key>PROJECT_ID</key>
	<string>investpal-50da2</string>
	<key>STORAGE_BUCKET</key>
	<string>investpal-50da2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094393098878:ios:88ed4b4ec0bf5c0cba9e2f</string>
</dict>
</plist>